#links{
    text-align:center;
}

a:visited{
    color:black ;
}

a{
    color:black;
}

#original{
    color:#000099;
}
#original:visited{
    color:#000099;
}


body{
    background-color: #cce6ff
}
#navbar{
    text-align:center;
     font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    color:black;
}
#navbar li{
    display:inline-block;
    border:2px solid black;
    color:black;
    font-size:20px;
}
a:visited{
    color:black ;
}