#display{
    text-align:center;
    font-size:30px ;
}

#buttons{
    text-align: center;
    font-size: 40px;
}

body{
    background-color:#dab3ff;
}

h1{
    font-size:35px;
    margin: auto 50px;
    text-align:center;
}
#navbar{
    text-align:center;
     font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    color:black;
}
#navbar li{
    display:inline-block;
    border:2px solid black;
    color:black;
    font-size:20px;
}
a:visited{
    color:black ;
}
